/* Estilos generales de la aplicación */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .auth-form {
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .auth-form input, .auth-form button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
  }
  